@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body {
    
    /*background:linear-gradient(45deg, #4764e9c2, #1caf95e3);*/
    /*animation: linear 10s body infinite;*/
    background: linear-gradient(-45deg, #dac1ba, #d185a2, #23a6d5, #7dc0b0, rgb(236, 102, 102));
	background-size: 400% 400%;
	-webkit-animation: gradientBG 7s ease infinite;
	 animation: gradientBG 7s ease infinite;


}



.button {
    width: 50;
    height: 50;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    background: #332c2c00;
    font-weight: 500;
    border: 0.1px;
    outline: none;
    color: lightskyblue;
    box-shadow: 4px 5px 7px 0px black;
    display: block;
    

}
.display {
    
    height: 80;
    font-size: 25px;
    border: 1.0px solid #35343400;
    background: #000000c7;
    text-align: right;
    outline: none;
    width: 390;
    color: gray;
    font-family: Poppins,sans-serif;
    border-radius: 10px;

}

.display::placeholder {
    color: transparent;
}
.display:hover {
    color: gray;
    background: rgba(14, 13, 13, 0.774);
    transition: 0.5s;
}

.display:hover::placeholder {
    color: rgb(39, 39, 39);
    transition: 0.5s;

}
.calc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    background: #070532;
    width: 390;
    box-sizing: border-box;
    box-shadow: 0px 20px 20px black;
    border-radius: 10px;
    height: 360px;
}



p.heading {
    
    position: absolute;
    text-align: center;
    transform: translateY(-80px)translateX(52.5px);
    font-size: 30px;
    font-family:Poppins,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    letter-spacing: 10px;
    background: -webkit-linear-gradient(60deg, #983c00, #390f94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/*p.heading:hover {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(120deg, #1caf95e3, #4764e9c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: 3s;
}*/

.button:hover {
    transition: 0.1s;
    color: rgb(120, 221, 174);
    


}

.button:active{
    box-shadow: 0px 0px 7px 0px black inset;
    transition: 0.2s;
    background: rgba(27, 27, 27, 0);
    color: rgb(120, 221, 174);
}

.button2{
    width: 50;
    height: 50;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    background: #332c2c00;
    font-weight: 500;
    border: 0.1px;
    outline: none;
    color: lightskyblue;
    box-shadow: 4px 5px 7px 0px black;
    display: block;
    border-radius: 0 0 10px 0;
    

}



.button2:active {
    box-shadow: 0px 0px 7px 0px black inset;
    transition: 0.2s;
    background: rgba(27, 27, 27, 0);
    color: rgb(120, 221, 174);
}





@viewport {
    width: device-width ;
}

@media only screen and (max-width: 480px){
    
    .calc{
         width: 390px;
     }
}



a {
    text-decoration: none;
    color: #0d1b95;
}
p.des {
    text-align: center;
    transform: translate(30px, 450px);
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    position: absolute;
}

a:hover{
    text-decoration: underline;
    transition: 1s;
}

a:active {
    color: blue;
}





input[type="checkbox"] {
    position: absolute;
    top: 80%;
    left: 65%;
    width: 28px;
    height: 15px;
    transform: translateX(334%)translateY(660%);
    -webkit-appearance: none;
    outline: none;
    background: rgb(49, 47, 47);
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px gray;
    transition: 0.3s ease;
    display: flex;
}

input:checked[type="checkbox"] {
    background: rgb(49,47,47);
}
input[type="checkbox"]::before {
    content: '';
    font-size: 20px;
    font-family:unset;
    text-align: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: rgb(75, 203, 226);
    top:0;
    left: 0;
    position: absolute;
    transition: ease 0.2s;
    display: flex;
    justify-content: center;
}

input:checked[type="checkbox"]::before {
    left: 14px;
    content: '';
    transition: 0.2s ease;
    text-align: center;
    background: rgb(61, 61, 61);
}

p.theme {
    position: absolute;
    top: 103.5%;
    left: 75%;
    font-family: sans-serif;
    color: rgb(4, 31, 63);
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}